

/* another reset style */
html {
box-sizing: inherit;
}

*, *:before, *:after {
  inherit;
/* this is to see every border

border:3px solid black;*/

}

/* Universal styles*/
a {
  text-decoration: none;
  color: black;
}
.signature-fionahall{
  font-family: 'Sacramento', cursive;

}
img{
    max-width: 100%;
    height: auto;
  }


body{
  font-family:lustria;
  }

section{
  background-color: #f5f4ec;
}



header, section
{
  padding: 5%;
  text-align: center;
}
header{
background-color: rgba(0,0,0,0.5);
}

/*  footer
footer-opacity{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  opacity: .7; */
/*  .................NAV-home page.................*/

h1{
  font-size: 5rem;
  padding: 0%;
  font-family: lustria;
  font-weight: normal;
  letter-spacing: 40px;
  color: white;
  /*text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);*/
  }

.contact-me{
  color:black;
  letter-spacing: 5px;
}
.h2-header{
  font-family:'Sacramento', cursive;
  letter-spacing:10px;
  color: white;
  font-size: 46px;

}
.contact-headingh3{
  color: black;
  font-family: lustria;

}
h3{
  color: black;
  border-bottom:1px solid black;
  font-family: lustria;
  letter-spacing: 6px;
}
h4 {
  padding:0;
  color: black;
}
p{
  font-family:lustria;
  color: black;
}
.banner{
  position: relative;
}
/*............video...................*/

.video-overlay{
  position: absolute;
  background-color:black;
  opacity: .2;
}

.banner-image-index video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(video/videoheader.mp4) no-repeat;
  background-size: cover;

}
/*............FOOTER...................*/

.h2-footer{
  color: white;
  letter-spacing: 40px;
  font-size: 5rem;
  padding: 0;

}
.footer-signature{
  font-size: 2rem;
  padding-bottom: 1%;
  font-weight: normal;
  letter-spacing: 20px;
  color: white;
}

footer{
    padding: 1%;
    text-align: center;

}
.icon-footer{
  font-size: 1.5rem;
  letter-spacing: 16px;
  color: white;
}

.icon-footer .fa:hover {
  color: white;
  transition: color 0.5s;
}
/*............FOOTER...................*/

h2{
  font-family: lustria;
  font-weight: normal;
  letter-spacing: 40px;
  color: white;

}

.no-padding{
  padding: 0;
}


.nav-container{
  margin: 0;
}
.button-nav{
  border-right: 1px solid rgba(0, 0, 0, 0.65);
  background-color:rgba(197, 204, 199, 0.65);
  font-weight: normal;
  letter-spacing: 10px;
  color: black;
  text-align: center;
  padding-top: 10px;
}
.button-nav:last-child {
  border-right: 0;
}

/* home page image ..............*/
.hompage-display{
  padding-top: 11rem;
}




/*  .................NAV-home page.................*/

/* home page image lower section*/
footer{
  background-color:rgba(197, 204, 199, 0.65);
}

.lightbox-content{
  display:none;
}
#mylightbox{
width: 50vw;
height:50vh;
}

.grid-padding{
  padding: 2%;
}
.homepage-LHS{
  padding: 1%;
}


/* Forms */
button, input, optgroup, select, textarea {
  font-family: lustria;
}

/* Lightbox custom styles */
.featherlight .featherlight-content {
  width: 70%;
  max-height: 90%;
}

/*.................Tabs Range................*/

/*                   Tab styles          */

/*............... RANGE .....................*/
.background-image-wove{
  background-image: ;
}






.range-tabs{
  max-width: 80%;
  margin: 0 auto 0 auto;
}

.range-woven-image{
  margin: 0 auto 0 auto;
  padding-bottom: 7%;

  overflow: hidden;
}




/*....................Tab imported from .........*/
/*....................<!-- This is a tab feature that I copy and pasted from;https://codepen.io/cssjockey/pen/jGzuK  -->...........................*/


.container{
	width: 100vw;
	margin: 0 auto;
}
.font-size-box-nav{
  font-size: 19px;
  font-weight: normal;
  letter-spacing: 10px;
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: #f5f5f5;
	color: #222;
	display: block;
	padding: 15px 0;

}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: rgba(0, 0, 0, 0.75);
	padding: 5%;
}

.tab-content.current{
	display: inherit;
}
    /*.......TABS RAnge...........................*/

    /*..............LOCATION PAGE.............*/
/* TODO:  */
.circle-image {
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 30% 0;
}

.location {
  border-bottom: 1px solid black;
  max-width: 950px;
  margin: 0 auto;
  padding: 2em 0;
}
.location:last-child {
  border-bottom: none;
}

/*............................................................*/



form {
  width: 58.33333333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  max-width:1100px;
}
form .field label {
  text-transform: lowercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #828b8e;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'lustria';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 18px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #FD9638;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
}
form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}
form input[type="submit"] {
  background: #FD9638;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: lowercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: lustria;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #FD9638;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}




/* Zoe hover effect */

/* Common style */
.hover-effect figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
  margin: 0;
}

.hover-effect figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.hover-effect figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hover-effect figure figcaption::before,
.hover-effect figure figcaption::after {
	pointer-events: none;
}

.hover-effect figure figcaption,
.hover-effect figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.hover-effect figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.hover-effect figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.hover-effect figure h2 span {
	font-weight: 800;
}

.hover-effect figure h2,
.hover-effect figure p {
	margin: 0;
}

.hover-effect figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	color: #3c4a50;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


figure.effect-zoe figcaption {
  padding: 1em 0;
}
figure.effect-zoe figcaption .padding {
  padding: 0 1em;
}
.hover-effect figure p {
  text-transform: none;
  font-size: 15px;
}
.hover-effect figure p a {
  font-size: 20px;
  margin-top: 5px;
  display: block;
}

figure.effect-zoe p.description {
  width: 100%;
  left: 0;
  bottom: 150px;
  margin: 0;
  padding: 0;
  font-size: 35px;
}
