


<!--  *******site footer  open  *****  -->

<footer>

  <div class="footer-content">

    <h2 class="h2-footer"> handspun </h2>
  <p class="signature-fionahall footer-signature"> by fiona hall </p>
</div>

  <div class="icon-footer">
    <!-- TODO add links to icons  -->
    <a href="https://www.facebook.com/search/top/?q=fionahall&opensearch=1" a href="/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a>
    <a href="https://www.facebook.com/search/top/?q=fionahall&opensearch=1" a href="/" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/fionahalldesigns/" a href="/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/search/top/?q=fionahall&opensearch=1"a href="/" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  </div>
</footer>
  <!--  *******site footer closed *****  -->
