<!DOCTYPE html>
<html>
  <head>
  <!-- this is all he -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- this is a normalised style sheet which resets every thing for for browsers  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- icon  .............................................-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Icon  .............................................-->


    <!-- fonts  .............................................-->

    <link href="https://fonts.googleapis.com/css?family=Lustria" rel="stylesheet">
<!-- fonts  ..........................................-->
    <!--            Icon font TODO        -->
    <!--            google font TODO        -->
    <!--      the grixlex style                  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">

    <!-- this is the link to the css style sheet -->
    <!-- Reference main Remember to get rid of the slash  -->
    <link rel="stylesheet" href="css/main.css">

  </head>


  <body>


    <header class="banner {{page.banner-class}}">
      <!-- This is where my image header will be  -->
      <h1>{{page.banner-heading}}</h1>
      <h2></h2>
    </header>

    <!-- TODO find button icon -->
    <section class="grid">
      <div class=" col-3">
        <a href="/range.html">range</a>
      </div>

      <div class=" col-3">
        <a href="/story.html">Story</a>
      </div>

      <div class=" col-3">
        <a href="/location.html">Location</a>
      </div>

      <div class="col-3">
        <a href="/range.html">Contact</a>
      </div>


    </section>


<!-- This is so that we can target the main work in one division -->

    <div class="main">

      {{content}}


    </div>

  {% include footer.html %}

<!-- this is the jquery link  -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript" src='scripts/main.js'>
    </script>
  </body>
</html>
